# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
build/
.idea
.vscode
.DS_Store
*.cert
*.crt
*.key
*.pem
marmot
marmot-v2
dist/

# NPM Stuff
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

CALUDE.md
V2-Plan.md