@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-dark: #111;
  --color-border-dark: #eee;
  --color-text-dark: #ccc;

  --color-bg-light: #fff;
  --color-border-light: #ddd;
  --color-text-light: #999;
}

@media (prefers-color-scheme: dark) {
  .isso-postbox input, .isso-postbox textarea {
    background-color: var(--color-bg-dark) !important;
    border: var(--color-border-dark) 1px solid !important;
    color: var(--color-text-dark) !important;
  }
}

@media (prefers-color-scheme: light) {
  .isso-postbox input, .isso-postbox textarea {
    background-color: var(--color-bg-light) !important;
    border: var(--color-border-light) 1px solid !important;
    color: var(--color-text-light) !important;
  }
}

.isso-postbox input, .isso-postbox textarea {
  border-radius: 5px;
}