@tailwind base;
@tailwind components;
@tailwind utilities;

.isso-postbox input, .isso-postbox textarea {
	background-color: #111 !important;
	border: #eee !important;
	color: #ccc !important;
}

.isso-postbox input[type=button] {
	border-radius: 5px;
}