# .github/workflows/release.yaml
name: Release

on:
  release:
    types: [created]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        include:
          - arch:   amd64
            cc:     gcc

          - arch:   amd64
            cc:     gcc
            static: true

          - arch: arm64
            cc:   aarch64-linux-gnu-gcc

          - arch: arm64
            cc:   aarch64-linux-gnu-gcc
            static: true

          - arch: arm
            arm:  6
            cc:   arm-linux-gnueabi-gcc

          - arch: arm
            arm:  6
            cc:   arm-linux-gnueabi-gcc
            static: true

          - arch: arm
            arm:  7
            cc:   arm-linux-gnueabihf-gcc

          - arch: arm
            arm:  7
            cc:   arm-linux-gnueabihf-gcc
            static: true

    env:
      GOOS:   linux
      GOARCH: ${{ matrix.arch }}
      GOARM:  ${{ matrix.arm }}
      CC:     ${{ matrix.cc }}
      LDFLAGS: ${{ matrix.static && '-extldflags "-static"' || '' }}
      SUFFIX: "${{ matrix.static && '-static' || ''}}"
      VERSION: "${{ github.event_name == 'release' && github.event.release.name || github.sha }}"


    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Install cross-compilers
        run: |
          sudo apt-get update 
          sudo apt-get install -y gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf gcc-arm-linux-gnueabi

      - name: Build marmot
        run: |
          CGO_ENABLED=1 go build -ldflags "-s -w ${{ env.LDFLAGS }}" -o marmot .
          tar -czvf marmot-${{ env.VERSION }}-${{ env.GOOS }}-${{ env.GOARCH }}${{ env.GOARM }}${{ env.SUFFIX }}.tar.gz marmot LICENSE README.md

      - name: Upload binary artifact
        uses: actions/upload-artifact@v2
        with:
          name: marmot-${{ env.VERSION }}-${{ env.GOOS }}-${{ env.GOARCH }}${{ env.GOARM }}${{ env.SUFFIX }}.tar.gz
          path: marmot-${{ env.VERSION }}-${{ env.GOOS }}-${{ env.GOARCH }}${{ env.GOARM }}${{ env.SUFFIX }}.tar.gz
          if-no-files-found: error

      - name: Get release
        id: release
        uses: bruceadams/get-release@v1.2.3
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload release tarball
        uses: actions/upload-release-asset@v1.0.2
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: marmot-${{ env.VERSION }}-${{ env.GOOS }}-${{ env.GOARCH }}${{ env.GOARM }}${{ env.SUFFIX }}.tar.gz
          asset_name: marmot-${{ env.VERSION }}-${{ env.GOOS }}-${{ env.GOARCH }}${{ env.GOARM }}${{ env.SUFFIX }}.tar.gz
          asset_content_type: application/gzip
